<!DOCTYPE html>
<html>
  <head>
    <title>Rent a Girlfriend</title>
    <link rel="icon" type="image/png" href="<%= asset_path('web-ico.png') %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
        <div class="logo">
           <%= link_to image_tag('logo.png', alt: 'Rent a Girlfriend Logo', id: 'logo-img'), root_path %>
        </div>
        <div class="auth-buttons">
          <% if user_signed_in? %>
            <%= link_to "Girlfriends", girlfriends_path, class: "btn" %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn" %>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "btn" %>
            <%= link_to "Sign up", new_user_registration_path, class: "btn" %>
          <% end %>
        </div>
    </header>
    <%= yield %>
    <footer>
      <div class="footer-container">
        <div class="footer-img">
          <%= image_tag("footer-logo.png", alt: "Footer Image", class: "footer-image") %>
        </div>
        <div class="footer-links">
          <span>Terms and Conditions</span>
          <span>About Us</span>
          <span>Contact Us</span>
        </div>
      </div>
    </footer>
  </body>
</html>
