<!DOCTYPE html>
<html>
  <head>
    <title>ChangeThisToYourRailsAppName</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
        <div class="logo">
           <%= link_to image_tag('logo.png', alt: 'Rent a Girlfriend Logo', id: 'logo-img'), root_path %>
        </div>
        <div class="auth-buttons">
          <% if user_signed_in? %>
            <%= link_to "Girlfriends", girlfriends_path, class: "btn" %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn" %>
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add your girlfriend
            </button>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "btn" %>
            <%= link_to "Sign up", new_user_registration_path, class: "btn" %>
          <% end %>
        </div>
    </header>
    <%= yield %>

  </body>
</html>
